<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
    <h:outputStylesheet library="css" name="table-style.css"/>
    <title>Projetos</title>
</h:head>
<h:body>

    <div class="container" style="margin-top: 15px; padding: 0px !important;">
        <div class="alert alert-secondary">
            <h3 class="text-center">Projetos</h3>
        </div>
    </div>

    <h:form class="container">
        <div class="row">
            Código: <h:inputText styleClass="form-control" id="codigo" value="#{projetoController.projeto.codigo}"/>
            <h:message for="codigo"/>
        </div>
        <div class="row">
            Descrição: <h:inputText styleClass="form-control" value="#{projetoController.projeto.descricao}"/>
        </div>
        <div class="row">
            Nome: <h:inputText styleClass="form-control" value="#{projetoController.projeto.nome}"/>
        </div>
        <div class="row" style="margin-top: 15px">
            <h:commandButton class="btn btn-primary btn-sm" style="width: 50%" value="Salvar Projeto"
                             action="#{projetoController.salvar()}"/>
            <h:commandButton class="btn btn-dark btn-sm" style="width: 50%" value="Nova Atividade"
                             action="#{projetoController.novo()}"/>
        </div>

        <div class="row">
            <h:dataTable styleClass="order-table"
                         headerClass="order-table-header"
                         rowClasses="order-table-odd-row,order-table-even-row"
                         value="#{projetoController.projetos}" var="p">
                <h:column headerText="Codigo">
                    <f:facet name="header">Código</f:facet>
                    <h:commandLink action="#{projetoController.setProjeto(p)}">
                        #{p.codigo}
                    </h:commandLink>
                </h:column>
                <h:column>
                    <f:facet name="header">Nome</f:facet>
                    #{p.nome}
                </h:column>
                <h:column>
                    <f:facet name="header">Descrição</f:facet>
                    #{p.descricao}
                </h:column>
                <h:column>
                    <f:facet name="header">Ações</f:facet>
                    <h:commandLink action="projeto.xhtml" value="abrir">
                        <f:param name="codigo" value="#{p.codigo}"/>
                    </h:commandLink>
                    <h:commandLink action="#{projetoController.setProjeto(p)}"> Editar </h:commandLink>
                    <h:commandLink action="#{projetoController.excluir(p)}"> Excluir </h:commandLink>
                </h:column>
            </h:dataTable>
        </div>
    </h:form>

</h:body>
</html>
