<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
    <h:outputStylesheet library="css" name="table-style.css"/>

    <title>Atividades Projeto</title>
</h:head>
<h:body>

    <div class="container" style="margin-top: 15px; padding: 0px !important;">
        <div class="alert alert-secondary">
            <h3 class="text-center">Cadastro de Atividades</h3>
        </div>
    </div>

    <h:form class="container">

        <h:commandButton class="btn btn-link" style="width: 100%;text-align: end" action="index.xhtml"
                         value="Voltar para listagem de projetos" />
        <div class="row">
            <p><b>Nome: </b>#{atividadeController.projeto.nome}</p>
        </div>
        <div class="row">
            <p><b>Descrição: </b>#{atividadeController.projeto.descricao}</p>
        </div>
        <div class="row">
            Código Atividade: <h:inputText styleClass="form-control" id="codigo" value="#{atividadeController.atividade.codigo}"/>
            <h:message for="codigo"/>
        </div>
        <div class="row">
            Nome: <h:inputText styleClass="form-control" value="#{atividadeController.atividade.nome}"/>
        </div>
        <div class="row">
            Situação Atividade
            <h:selectOneMenu styleClass="form-control" id="areas" value="#{atividadeController.atividade.situacaoAtividade}">
                <f:selectItems value="#{atividadeController.situacoesAtividade}"/>
            </h:selectOneMenu>
        </div>
        <div class="row">
            <div class="column" style="width: 50%">
                Quantidade Esforço: <h:inputText styleClass="form-control"
                                                 value="#{atividadeController.atividade.quantidadeEsforco}"
                                                 converterMessage="Please enter digits only."/>
            </div>
            <div class="column" style="width: 50%">
                Tempo Utilizado: <h:inputText styleClass="form-control"
                                              value="#{atividadeController.atividade.quantidadeTempoGasto}"
                                              converterMessage="Please enter digits only."/>
            </div>
        </div>
        <div class="row" style="margin-top: 15px">
            <h:commandButton class="btn btn-primary btn-sm" style="width: 50%" value="Salvar Atividade"
                             action="#{atividadeController.salvar()}"/>
            <h:commandButton class="btn btn-dark btn-sm" style="width: 50%" value="Nova Atividade"
                             action="#{atividadeController.novo()}"/>
        </div>

        <div class="row">
            <h:dataTable styleClass="order-table"
                         headerClass="order-table-header"
                         rowClasses="order-table-odd-row,order-table-even-row"
                         value="#{atividadeController.atividades}" var="a">
                <h:column headerText="Codigo">
                    <f:facet name="header">Código</f:facet>
                    <h:commandLink action="#{atividadeController.setAtividade(a)}">
                        #{a.codigo}
                    </h:commandLink>
                </h:column>
                <h:column headerText="Cod. Projeto">
                    <f:facet name="header">Código</f:facet>
                        #{a.projeto.codigo}
                </h:column>
                <h:column>
                    <f:facet name="header">Nome</f:facet>
                    #{a.nome}
                </h:column>
                <h:column>
                    <f:facet name="header">Quant. Esforço</f:facet>
                    #{a.quantidadeEsforco}
                </h:column>
                <h:column>
                    <f:facet name="header">Quant. Tempo Gasto</f:facet>
                    #{a.quantidadeTempoGasto}
                </h:column>

                <h:column>
                    <f:facet name="header">Quant. Tempo Gasto</f:facet>
                    #{a.situacaoAtividade.nome}
                </h:column>
                <h:column>
                    <f:facet name="header">Ações</f:facet>
                    <h:commandLink action="#{atividadeController.setAtividade(a)}"> Editar </h:commandLink>
                    <h:commandLink action="#{atividadeController.excluir(a)}"> Excluir </h:commandLink>
                </h:column>
            </h:dataTable>
        </div>

    </h:form>
</h:body>
</html>
